# Backend
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/team_task_manager?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-at-least-24-characters"
JWT_EXPIRES_IN="7d"
PORT=4000
NODE_ENV="development"
FRONTEND_URL="http://localhost:3000"
COOKIE_NAME="ttm_token"
COOKIE_SECURE=false
COOKIE_SAME_SITE="lax"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="sauravsaini678@gmail.com"
SMTP_PASS="your_gmail_app_password_here"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
